<%- include('../partials/header') %>

<div class="card w-100">
  <div class="card-body">
    <h4 class="card-title"><%= member.name %></h4>
    <p class="card-text"><%= member.members %></p>

    <hr>
<form>

    <div class="custom-controls-stacked">
      <label for="method">Method</label>
      <label class="custom-control custom-radio">
        <input id="method1" name="method" type="radio" class="custom-control-input" value="teamCount">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Team Count</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="method2" name="method" type="radio" class="custom-control-input" value="numberPerTeam">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Number Per Team</span>
      </label>
    </div>

    <br>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" name="quantity" class="form-control" placeholder="Specify the amount of members">
    </div>
<input type="hidden" name="members" value="<%= member.members %>" >
      <button class="btn btn-outline-primary w-100" type="submit">Assign Teams</button>

</form>

<% if (arrays !== null) {
    for (var property in arrays) {
      if (arrays.hasOwnProperty(property)) {
        var str = property + ": " + arrays[property].join(", "); %>
        <h3><%= str %></h3>
<%    }
    }
  } %>

  </div>
</div>



<%- include('../partials/footer') %>
