<%- include('../partials/header') %>

<h2><%= post.username %></h2>
<p>
  <%= post.title %>
</p>

<p>
  <%= post.notes %>
</p>
<p><strong>Created at:</strong> <%= post.created_at %></p>

<%- include('../partials/footer') %>
